<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MisterJohney Website</title>
    <link rel="stylesheet" href="static/style.css">
    </head>
    <body>





    <div class="wrapper">
        <label>
            <input type="checkbox" class="side-panel-checkbox">
            <div class="side-panel">
                <h3>Navigation</h3>
                <ul>
                    <li><a href="#Home">Home</a></li>
                    <li><a href="#About">About</a></li>
                    <li><a href="#Services">Services</a></li>
                    <li><a href="#Portfolio">Portfolio</a></li>
                    <li><a href="#Articles">Articles</a></li>
                    <li><a href="#Contact">Contact</a></li>
                </ul>
            </div>
        </label>


        <div class=one">
        <h1><b>MisterJohney</b></h1>
        <h2>Full time dumbass</h2>
        </div>

    </div>


    <div class="two">
        <img src="https://www.w3schools.com/html/pic_trulli.jpg">
    </div>

    <div class="three">
        <input id="input">
        <div id="buttons">
            <button onClick="submit()">Submmit</button>
            <button onClick="printToConsole()">Print to console</button>
            <input type="checkbox" id="EULA" name="EULA" value="YES">
            <label for="EULA">I have read the EULA</label><br>
            <input type="checkbox" id="myCheck" onclick="myFunction()">
            <p id="text" style="display:none">Checkbox is CHECKED!</p>
        </div>
    </div>

	<script src="static/index.js"></script>
  </body>
</html>
