<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>iiiiiiiiiiiiiii</title>
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
    <h1>Hello there</h1>

    <div id="program">
        <input id="input">
        <div id="buttons">
            <button onClick="submit()">Submmit</button>
            <button onClick="printToConsole()">Print to console</button>
            <input type="checkbox" id="EULA" name="EULA" value="YES">
            <label for="EULA">I have read the EULA</label><br>
            <input type="checkbox" id="myCheck" onclick="myFunction()">
            <p id="text" style="display:none">Checkbox is CHECKED!</p>
        </div>
    </div>

	<script src="static/index.js"></script>
  </body>
</html>
